/* =======================================================================
 * Colors
 * ======================================================================= */
/* =======================================================================
 * Others
 * ======================================================================= */
/* =======================================================================
 * Mixins
 * ======================================================================= */
/* =======================================================================
 * Section
 * ======================================================================= */
/* =======================================================================
 * Global
 * ======================================================================= */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* margin-bottom by footer height */
  margin-bottom: 80px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #4b4b4b;
  background-color: #fff;
}
a {
  color: #7cb140;
  text-decoration: none;
  transition: color ease 0.2s;
}
a:hover {
  color: #95c55f;
}
h1,
h2,
h3,
h4 {
  color: #666666;
}
.container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
/* =======================================================================
 * Header
 * ======================================================================= */
#site-header {
  padding: 45px 0 75px;
  background: #95c55f url("../img/background.png") no-repeat center 30px;
}
#site-header img {
  position: absolute;
}
#site-header h1 {
  margin-bottom: 7px;
  padding-top: 13px;
  font-size: 2.5em;
  text-align: center;
}
#site-header ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
#site-header li {
  display: inline;
  margin: 0 5px;
  font-weight: bold;
}
#site-header a {
  color: #333333;
}
#site-header a:hover {
  color: #111111;
}
/* =======================================================================
 * Main
 * ======================================================================= */
main {
  margin: 52px auto 170px auto;
}
article {
  margin-top: 32px;
  padding-bottom: 24px;
  border-bottom: 1px solid #eeeeee;
}
article header {
  /* article title tags */
}
article header h1,
article header h2 {
  margin-bottom: 7px;
}
article header h2 {
  font-size: 1.7em;
}
article h1 a,
article h2 a,
article h3 a,
article h4 a {
  color: #666666;
}
article h1 a:hover,
article h2 a:hover,
article h3 a:hover,
article h4 a:hover {
  color: #888888;
}
article .article-meta {
  margin: 0 0 23px;
  font-size: 0.85em;
  color: #888888;
}
article p {
  line-height: 1.5;
  text-align: justify;
}
article p a:visited {
  color: #aaa;
}
article img {
  border-radius: 3px;
}
article .img-full {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
article .img-container {
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 0;
}
article .img-container img {
  max-width: 48%;
  margin: 6px 2% 6px 0;
}
article .caption {
  margin: -15px 0 30px;
  font-style: italic;
  color: #888888;
  text-align: center;
}
main .category {
  margin: 50px 0 10px;
  padding-bottom: 20px;
  color: #4b4b4b;
  border-bottom: 1px solid #eeeeee;
}
.article-single {
  padding-bottom: 0;
  border: 0;
}
.article-single h1 {
  margin-bottom: 32px;
  color: #4b4b4b;
}
/* =======================================================================
 * Pagination
 * ======================================================================= */
#site-pagination {
  position: relative;
  height: 36px;
  margin-top: 40px;
  font-size: 0.9em;
  color: #888888;
  text-align: center;
}
#site-pagination a {
  padding: 7px 15px;
  color: #888888;
  border: 2px solid #ddd;
  border-radius: 50px;
  transition: border ease 0.2s;
}
#site-pagination a:hover {
  border-color: #bbb;
}
#site-pagination .prev {
  position: absolute;
  left: 0;
}
#site-pagination span {
  display: inline-block;
  padding-top: 9px;
}
#site-pagination .next {
  position: absolute;
  right: 0;
}
/* =======================================================================
 * Footer
 * ======================================================================= */
#site-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* footer height */
  height: 80px;
  color: #a4a4a4;
  background-color: #444;
}
#site-footer p {
  margin: 30px 0 0;
}
/* =======================================================================
 * Others
 * ======================================================================= */
#disqus_thread {
  margin-top: 60px;
}
code {
  padding: 3px 5px;
  font-size: 0.85em;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.code-container {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  overflow-x: auto;
}
.code-container .highlighttable {
  width: 100%;
  font-size: 0.85em;
  line-height: 1.45;
  background-color: #202020;
  border-radius: 3px;
}
.code-container .highlighttable pre {
  background-color: #202020;
}
.code-container .highlighttable td:first-child {
  padding: 5px 20px;
}
.video-container {
  position: relative;
  height: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 25px;
  /* 16:9 */
  padding-bottom: 56.25%;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
blockquote {
  margin: 0;
  padding: 10px 20px;
  color: #888888;
  border-left: 5px solid #eeeeee;
}
blockquote p {
  margin: 0;
  font-style: italic;
}
blockquote footer {
  margin: 10px 0 3px;
  font-size: 0.85em;
}
blockquote footer:before {
  content: "\2013\0020";
}
hr {
  border: 0;
  border-bottom: 1px solid #ddd;
}
/* =======================================================================
 * Night mode
 * ======================================================================= */
/* =======================================================================
 * Media queries
 * ======================================================================= */
@media (max-width: 767px) {
  .container {
    width: auto;
    padding: 0 15px;
  }
  #site-header {
    padding: 35px 0 55px;
    background-image: none;
  }
  #site-header img {
    position: static;
    display: block;
    margin: 0 auto;
  }
  #site-header h1 {
    padding-top: 0;
  }
}
/* =======================================================================
 * Section
 * ======================================================================= */
