{% extends "layouts/default.html" %}

{% block content %}
            <article>
                <header>
                    <h1>{{ title }}</h1>
                    <div class="article-meta">
                        <time datetime="{{ date.strftime('%Y-%m-%d %H:%M') }}">{{ date.strftime('%d %b %Y') }}</time>
                        {% if categories %}
                            in
                            {% for category in categories %}
                                <a href="{{ category.link }}" rel="tag">{{ category.name|capitalize }}</a>{%- if not loop.last -%},{% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </header>
                {{ content }}
            </article>
            <nav id="site-pagination">
                {% if prev_post %}
                    <a class="prev" href="{{ prev_post }}" rel="prev">&larr; Prev post</a>
                {% endif %}
                <span></span>
                {% if next_post %}
                    <a class="next" href="{{ next_post }}" rel="next">Next post &rarr;</a>
                {% endif %}
            </nav>
            <div id="disqus_thread"></div>
            <script>
            (function() {
                var d = document, s = d.createElement('script');
                s.src = '//helpfulsheep.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endblock %}
